In [46]:
# load the file_name with ending of .csv under certain directory
import os

file_names = []
cwd = os.getcwd()
#print(cwd)
directory = os.path.join(cwd + "/new_filtered_df_select_use.csv/")
for root,dirs,files in os.walk(directory):
    for file in files:
        if file.endswith(".csv"):
            file_names.append(str(file))

#print(file_names)

In [47]:
# sort the file_name with ending of .csv under certain directory

#grab the middle 5 characters of the file name[index:5-10]:
def mid_5chars(x):
    return(x[5:10])

sorted(file_names, key = mid_5chars)
file_names_sorted = [filename for filename in sorted(file_names, key = mid_5chars)]
#print(file_names_sorted)

In [48]:
import pandas as pd

df = pd.read_csv(directory + file_names_sorted[0])
df.head(5)

/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

         date          uid play_time  song_length   song_id
0  2017-03-30  168550892.0       254        254.0  23491655
1  2017-03-30  168540455.0       189        190.0    298250
2  2017-03-30  168551247.0        78        149.0  11881432
3  2017-03-30  168549788.0        16        242.0    295469
4  2017-03-30  168551248.0        87         87.0  21393368

In [49]:
df.count()

date           1075907
uid            1006434
play_time      1075907
song_length    1075907
song_id        1075907
dtype: int64

In [50]:
#Drop the raws where any of the elements is nan
df = df.dropna(axis=0, how='any')
df.count()

date           1006434
uid            1006434
play_time      1006434
song_length    1006434
song_id        1006434
dtype: int64

In [51]:
# clean the data whose have the outlier values
import numpy as np

def is_float(input_data):
    try:
        float_num = float(input_data)
    except ValueError:
        return False
    return True

def is_int(input_data):
    try:
        float_num = int(input_data)
    except ValueError:
        return False
    return True

def get_true_false_index(attr,func):
    df[attr + '_true_false_index'] = df[attr].map(func)
    df.loc[df[attr + '_true_false_index'] == False, attr] = np.nan
    df[attr] = df[attr].astype(float)

attrs = ['play_time', 'song_length', 'song_id', 'uid']
for attr in attrs:
    if attrs.index(attr) < 2:
        get_true_false_index(attr, is_float)
    else:
        get_true_false_index(attr, is_int)

In [52]:
# find the nan value info
df.isnull().sum()

date                               0
uid                                0
play_time                       5299
song_length                        0
song_id                            0
play_time_true_false_index         0
song_length_true_false_index       0
song_id_true_false_index           0
uid_true_false_index               0
dtype: int64

In [53]:
#Drop the raws where any of the elements is nan
df = df.dropna(axis=0, how='any')
df.count()

date                            1001135
uid                             1001135
play_time                       1001135
song_length                     1001135
song_id                         1001135
play_time_true_false_index      1001135
song_length_true_false_index    1001135
song_id_true_false_index        1001135
uid_true_false_index            1001135
dtype: int64

In [54]:
# keep the data we care about
df = df[['date', 'uid', 'play_time', 'song_length', 'song_id']]
df.describe()

                uid     play_time   song_length       song_id
count  1.001135e+06  1.001135e+06  1.001135e+06  1.001135e+06
mean   1.682982e+08 -9.944469e+04  2.347888e+02  4.266359e+13
std    3.877620e+06  1.022393e+08  3.179686e+02  2.140679e+16
min    1.000872e+08 -1.022973e+11 -1.000000e+00 -1.000000e+00
25%    1.686122e+08  2.000000e+00  1.780000e+02  7.087960e+05
50%    1.686874e+08  4.000000e+01  2.360000e+02  4.627739e+06
75%    1.688118e+08  2.120000e+02  2.750000e+02  7.186125e+06
max    1.689337e+08  1.590808e+07  7.918800e+04  1.844674e+19

In [57]:
# delete the negative value 
def is_pos(input_data):
    if input_data > 0.0:
        return True
    else:
        return False

def get_true_false_index(attr,func):
    df[attr + '_true_false_index'] = df[attr].map(func)
    df.loc[df[attr + '_true_false_index'] == False, attr] = np.nan
    df[attr] = df[attr].astype(float)

attrs = ['play_time', 'song_length', 'song_id']
for attr in attrs:
    get_true_false_index(attr, is_pos)

# find the negative value info
df.isnull().sum()

date                                 0
uid                                  0
play_time                       179076
song_length                      90219
song_id                          65593
play_time_true_false_index           0
song_length_true_false_index         0
song_id_true_false_index             0
dtype: int64

In [58]:
#Drop the raws where any of the elements is nan
df = df.dropna(axis=0, how='any')
df.count()

date                            741491
uid                             741491
play_time                       741491
song_length                     741491
song_id                         741491
play_time_true_false_index      741491
song_length_true_false_index    741491
song_id_true_false_index        741491
dtype: int64

In [59]:
# keep the data we care about
df = df[['date', 'uid', 'play_time', 'song_length', 'song_id']]
df.describe()

                uid     play_time    song_length       song_id
count  7.414910e+05  7.414910e+05  741491.000000  7.414910e+05
mean   1.683735e+08  2.856274e+03     257.036664  2.296048e+13
std    3.497891e+06  3.792106e+04     282.667156  9.439337e+15
min    1.001574e+08  1.735630e-02       1.000000  1.344000e+03
25%    1.686112e+08  1.300000e+01     201.000000  1.028591e+06
50%    1.686859e+08  8.900000e+01     244.000000  5.354731e+06
75%    1.688104e+08  2.310000e+02     283.000000  8.398782e+06
max    1.689337e+08  1.590808e+07   11491.000000  4.870247e+18

In [63]:
#the last manipulation: making sure 'play_time' < 'song_length'
df['p_less_than_s'] = np.where((df['play_time'] <= df['song_length']), True, False)
df.loc[df['p_less_than_s'] == False, 'p_less_than_s'] = np.nan

In [65]:
#Drop the raws where any of the elements is nan
df = df.dropna(axis=0, how='any')
df.count()

date             710018
uid              710018
play_time        710018
song_length      710018
song_id          710018
p_less_than_s    710018
dtype: int64

In [67]:
directory = os.path.join(cwd + "/clean_data/")
file_name = directory + file_names_sorted[0][5:10] + '.csv'
df.to_csv(file_name, encoding='utf-8', index=False)